*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

header{
    width: 100%;
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 30px;
    background: transparent;
}

.header{
    background: #141414;
    z-index: 9999;
}

.header--logo{
    height: 30px;
}

.header--logo img{
    height: 100%;
}



/* VARIABLES */
:root{
    --fontmain: 'Poppins', sans-serif;
}